<div>
  <div>
    <h1>
      All trips
    </h1>
  </div>
</div>

<hr>

<div class="container mt-4">
  <h3 class="mb-4">Add a new trip</h3>
  <form action="/insert_trip" method="post">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="turo_reservation_number_box">Turo reservation number</label>
        <input type="text" class="form-control" id="turo_reservation_number_box" name="query_turo_reservation_number">
      </div>
      <div class="form-group col-md-2">
        <label for="vehicle_id_box">Vehicle ID</label>
        <input type="text" class="form-control" id="vehicle_id_box" name="query_vehicle_id">
      </div>
      <div class="form-group col-md-2">
        <label for="guest_id_box">Guest ID</label>
        <input type="text" class="form-control" id="guest_id_box" name="query_guest_id">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="start_date_box">Start date</label>
        <input type="date" class="form-control" id="start_date_box" name="query_start_date">
      </div>
      <div class="form-group col-md-4">
        <label for="end_date_box">End date</label>
        <input type="date" class="form-control" id="end_date_box" name="query_end_date">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="start_time_box">Start time</label>
        <input type="time" class="form-control" id="start_time_box" name="query_start_time">
      </div>
      <div class="form-group col-md-4">
        <label for="end_time_box">End time</label>
        <input type="time" class="form-control" id="end_time_box" name="query_end_time">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="extras_box">Extras</label>
        <select class="custom-select" id="extras_box" name="query_extras">
          <option selected>Choose...</option>
          <option value="None">None</option>
          <option value="Prepaid Fuel">Prepaid Fuel</option>
          <option value="Childseat Rental">Childseat Rental</option>
        </select>

      </div>
      <div class="form-group col-md-4">
        <label for="total_distance_included_box">Total distance included</label>
        <input type="text" class="form-control" id="total_distance_included_box" name="query_total_distance_included">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Create trip</button>
  </form>
</div>

<hr>

<div>
  <!-- Future Trips Table -->
  <h3>Upcoming Trips (<%= @future_trips.count.to_s%>)</h3>
  <div>
    <table class="table table-hover table-bordered table-striped">
      <tr>
        <th>Reservation ID</th>
        <th>Start date</th>
        <th>Start time</th>
        <th>End date</th>
        <th>End time</th>
        <th>Vehicle</th>
        <th>Guest Profile</th>
        <th>Distance included</th>
        <th>Extras</th>
        <th>Updated at</th>
        <th></th>
      </tr>

      <% @future_trips.each do |a_trip| %>
        <tr>
          <td><%= a_trip.turo_reservation_number %></td>
          <td><%= a_trip.start_date.strftime("%D") %></td>
          <td><%= a_trip.start_time.strftime("%r") %></td>
          <td><%= a_trip.end_date.strftime("%D") %></td>
          <td><%= a_trip.end_time.strftime("%r") %></td>
          <td>
            <a href="/vehicles/<%= a_trip.vehicle_id %>"><%= a_trip.vehicle.license_plate %></a>
          </td>
          <td>
            <a href="<%= a_trip.guest.turo_profile %>">Guest Link</a>
          </td>
          <td><%= a_trip.total_distance_included %></td>
          <td><%= a_trip.extras %></td>
          <td><%= time_ago_in_words(a_trip.updated_at) %> ago</td>
          <td>
            <a href="/trips/<%= a_trip.id %>">Show details</a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <!-- Past Trips Table -->
  <h3>Past Trips (<%= @past_trips.count.to_s%>)</h3>
  <div>
    <table class="table table-hover table-bordered table-striped">
      <tr>
        <th>Reservation ID</th>
        <th>Start date</th>
        <th>Start time</th>
        <th>End date</th>
        <th>End time</th>
        <th>Vehicle</th>
        <th>Guest Profile</th>
        <th>Distance included</th>
        <th>Extras</th>
        <th>Updated at</th>
        <th></th>
      </tr>

      <% @past_trips.each do |a_trip| %>
        <tr>
          <td><%= a_trip.turo_reservation_number %></td>
          <td><%= a_trip.start_date.strftime("%D") %></td>
          <td><%= a_trip.start_time.strftime("%r") %></td>
          <td><%= a_trip.end_date.strftime("%D") %></td>
          <td><%= a_trip.end_time.strftime("%r") %></td>
          <td>
            <a href="/vehicles/<%= a_trip.vehicle_id %>"><%= a_trip.vehicle.license_plate %></a>
          </td>
          <td>
            <a href="<%= a_trip.guest.turo_profile %>">Guest Link</a>
          </td>
          <td><%= a_trip.total_distance_included %></td>
          <td><%= a_trip.extras %></td>
          <td><%= time_ago_in_words(a_trip.updated_at) %> ago</td>
          <td>
            <a href="/trips/<%= a_trip.id %>">Show details</a>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
