<div>
  <div>
    <h1>
      Reservation #<%= @the_trip.turo_reservation_number %> details
    </h1>

    <div>
      <div>
        <a href="/trips">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_trip/<%= @the_trip.id %>">
          Delete trip
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Start date
      </dt>
      <dd>
        <%= @the_trip.start_date.strftime("%D") %>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @the_trip.start_time.strftime("%r") %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @the_trip.end_date.strftime("%D") %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @the_trip.end_time.strftime("%r") %>
      </dd>

      <dt>
        Vehicle
      </dt>
      <dd>
        <%= @the_trip.vehicle.name %>
      </dd>

      <dt>
        Vehicle Image
      </dt>
      <dd>
        <img src="<%= @the_trip.vehicle.image %>" width="200px">
      </dd>

      <dt>
        Guest
      </dt>
      <dd>
        <%= @the_trip.guest.name %>
      </dd>

      <dt>
        Total distance included
      </dt>
      <dd>
        <%= @the_trip.total_distance_included %>
      </dd>

      <dt>
        Start day
      </dt>
      <dd>
        <%= @the_trip.start_day %>
      </dd>

      <dt>
        End day
      </dt>
      <dd>
        <%= @the_trip.end_day %>
      </dd>

      <dt>
        Extras
      </dt>
      <dd>
        <%= @the_trip.extras %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit trip
    </h2>

    <form action="/modify_trip/<%= @the_trip.id %>"  method="post" >
      <div>
        <label for="turo_reservation_number_box">
          Turo reservation number
        </label>

        <input type="text" id="turo_reservation_number_box" name="query_turo_reservation_number" value="<%= @the_trip.turo_reservation_number %>">
      </div>

      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date" value="<%= @the_trip.start_date %>">
      </div>

      <div>
        <label for="start_time_box">
          Start time
        </label>

        <input type="time" id="start_time_box" name="query_start_time" value="<%= @the_trip.start_time %>">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date" value="<%= @the_trip.end_date %>">
      </div>

      <div>
        <label for="end_time_box">
          End time
        </label>

        <input type="time" id="end_time_box" name="query_end_time" value="<%= @the_trip.end_time %>">
      </div>

      <div>
        <label for="vehicle_id_box">
          Vehicle
        </label>

        <input type="text" id="vehicle_id_box" name="query_vehicle_id" value="<%= @the_trip.vehicle_id %>">
      </div>

      <div>
        <label for="guest_id_box">
          Guest
        </label>

        <input type="text" id="guest_id_box" name="query_guest_id" value="<%= @the_trip.guest_id %>">
      </div>

      <div>
        <label for="total_distance_included_box">
          Total distance included
        </label>

        <input type="text" id="total_distance_included_box" name="query_total_distance_included" value="<%= @the_trip.total_distance_included %>">
      </div>

      <div>
        <label for="start_day_box">
          Start day
        </label>

        <input type="text" id="start_day_box" name="query_start_day" value="<%= @the_trip.start_day %>">
      </div>

      <div>
        <label for="end_day_box">
          End day
        </label>

        <input type="text" id="end_day_box" name="query_end_day" value="<%= @the_trip.end_day %>">
      </div>

      <div>
        <label for="extras_box">
          Extras
        </label>

        <input type="text" id="extras_box" name="query_extras" value="<%= @the_trip.extras %>">
      </div>

      <button>
        Update trip
      </button>
    </form>
  </div>
</div>

<hr>

<h2>Related Jobs</h2>

<table border="1">
  <tr>
    <th>
      Job ID
    </th>

    <th>
      Job Name
    </th>

    <th>
      Assigned to 
    </th>

    <th>
      Employee Img
    </th>

    <th>
      Job Status
    </th>
  </tr>

  <% @the_trip.jobs.each do |a_job| %>
    <tr>
      <td>
        <%= a_job.id %>
      </td>

      <td>
        <%= a_job.name %>
      </td>

      <td>
        <%= a_job.employee.name %>
      </td>

      <td>
        <%= a_job.employee.image_url %>
      </td>

      <td>
        <%= a_job.completed %>
      </td>

      <td>
        <a href="/jobs/<%= a_job.id %>">
          Show details
        </a>
      </td>
    </tr>
  <% end %>
</table>
