<div>
  <div>
    <h1>
      Trip #<%= @the_trip.id %> details
    </h1>

    <div>
      <div>
        <a href="/trips">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_trip/<%= @the_trip.id %>">
          Delete trip
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Turo reservation number
      </dt>
      <dd>
        <%= @the_trip.turo_reservation_number %>
      </dd>

      <dt>
        Start date
      </dt>
      <dd>
        <%= @the_trip.start_date %>
      </dd>

      <dt>
        Start time
      </dt>
      <dd>
        <%= @the_trip.start_time %>
      </dd>

      <dt>
        End date
      </dt>
      <dd>
        <%= @the_trip.end_date %>
      </dd>

      <dt>
        End time
      </dt>
      <dd>
        <%= @the_trip.end_time %>
      </dd>

      <dt>
        Vehicle
      </dt>
      <dd>
        <%= @the_trip.vehicle_id %>
      </dd>

      <dt>
        Guest
      </dt>
      <dd>
        <%= @the_trip.guest_id %>
      </dd>

      <dt>
        Total distance included
      </dt>
      <dd>
        <%= @the_trip.total_distance_included %>
      </dd>

      <dt>
        Estimated earnings
      </dt>
      <dd>
        <%= @the_trip.estimated_earnings %>
      </dd>

      <dt>
        Start day
      </dt>
      <dd>
        <%= @the_trip.start_day %>
      </dd>

      <dt>
        End day
      </dt>
      <dd>
        <%= @the_trip.end_day %>
      </dd>

      <dt>
        Extras
      </dt>
      <dd>
        <%= @the_trip.extras %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <%= @the_trip.location_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_trip.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit trip
    </h2>

    <form action="/modify_trip/<%= @the_trip.id %>"  method="post" >
      <div>
        <label for="turo_reservation_number_box">
          Turo reservation number
        </label>

        <input type="text" id="turo_reservation_number_box" name="query_turo_reservation_number" value="<%= @the_trip.turo_reservation_number %>">
      </div>

      <div>
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date" value="<%= @the_trip.start_date %>">
      </div>

      <div>
        <label for="start_time_box">
          Start time
        </label>

        <input type="time" id="start_time_box" name="query_start_time" value="<%= @the_trip.start_time %>">
      </div>

      <div>
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date" value="<%= @the_trip.end_date %>">
      </div>

      <div>
        <label for="end_time_box">
          End time
        </label>

        <input type="time" id="end_time_box" name="query_end_time" value="<%= @the_trip.end_time %>">
      </div>

      <div>
        <label for="vehicle_id_box">
          Vehicle
        </label>

        <input type="text" id="vehicle_id_box" name="query_vehicle_id" value="<%= @the_trip.vehicle_id %>">
      </div>

      <div>
        <label for="guest_id_box">
          Guest
        </label>

        <input type="text" id="guest_id_box" name="query_guest_id" value="<%= @the_trip.guest_id %>">
      </div>

      <div>
        <label for="total_distance_included_box">
          Total distance included
        </label>

        <input type="text" id="total_distance_included_box" name="query_total_distance_included" value="<%= @the_trip.total_distance_included %>">
      </div>

      <div>
        <label for="estimated_earnings_box">
          Estimated earnings
        </label>

        <input type="text" id="estimated_earnings_box" name="query_estimated_earnings" value="<%= @the_trip.estimated_earnings %>">
      </div>

      <div>
        <label for="start_day_box">
          Start day
        </label>

        <input type="text" id="start_day_box" name="query_start_day" value="<%= @the_trip.start_day %>">
      </div>

      <div>
        <label for="end_day_box">
          End day
        </label>

        <input type="text" id="end_day_box" name="query_end_day" value="<%= @the_trip.end_day %>">
      </div>

      <div>
        <label for="extras_box">
          Extras
        </label>

        <input type="text" id="extras_box" name="query_extras" value="<%= @the_trip.extras %>">
      </div>

      <div>
        <label for="location_id_box">
          Location
        </label>

        <input type="text" id="location_id_box" name="query_location_id" value="<%= @the_trip.location_id %>">
      </div>

      <button>
        Update trip
      </button>
    </form>
  </div>
</div>

<hr>
