<div>
  <div>
    <h1>
      All jobs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new job
    </h2>

    <form action="/insert_job" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <input type="checkbox" id="status_box" name="query_status" value="1">

        <label for="status_box">Status</label>
      </div>

      <div>
        <label for="vehicle_id_box">
          Vehicle
        </label>

        <input type="text" id="vehicle_id_box" name="query_vehicle_id">
      </div>

      <div>
        <label for="employee_id_box">
          Employee
        </label>

        <input type="text" id="employee_id_box" name="query_employee_id">
      </div>

      <button>
        Create job
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Status
        </th>

        <th>
          Vehicle
        </th>

        <th>
          Employee
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_jobs.each do |a_job| %>
      <tr>
        <td>
          <%= a_job.id %>
        </td>

        <td>
          <%= a_job.name %>
        </td>

        <td>
          <%= a_job.status %>
        </td>

        <td>
          <%= a_job.vehicle_id %>
        </td>

        <td>
          <%= a_job.employee_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_job.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_job.updated_at) %> ago
        </td>

        <td>
          <a href="/jobs/<%= a_job.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
