<!DOCTYPE html>
<html>
  <head>
    <title>Anjali Auto Fleet Operations</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
        <a href="/">Home</a>
        <a href="/vehicles">Vehicles</a>
        <a href="/trips">Trips</a>
        <a href="/guests">Guests</a>
    
      </nav>
      <%= yield %>
  </body>
</html>
